service cloud.firestore {
  match /databases/{database}/documents {
    match /photos/{id}{
      allow read: if true;
    	allow update, delete, create: if request.auth.uid == "id do usuario";
      match / {docs = **} {
          allow read: if true;
    	    allow update, delete, create: if request.auth.uid == "id do usuario";
      }
    }
  }
}
